.container {
  padding: 0 12rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}
.title {
  margin: 12px;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;

}

.mainnav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 2rem;
  font-weight: bold;
}
.mainnav ul li{
  margin: 0 24px;
}


.myImg{
  border: 2px solid black;
  border-radius: 12px;
  display: inline;
  margin: 2px;
  opacity: 0.85;
}

.images{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}

.wrapDiv{
  background-color: black;
  width: 100vw;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}

.button{
  width: 100px;
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: grey;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover{
 background-color: rgb(171, 164, 164);
}

.blogItem{
  border: 2px solid gray;
  border-radius: 8px;
  padding: 20px;
  margin: 5px;
}

.blogItem h2{
  cursor: pointer;
  max-width: 40vw;
}

.blogItemP{
max-width: 400vw;
}


.mainH1{
  text-align: center;
  font-size: 50px
}

@media (max-width: 877px) {
  .container{
      max-width: 100vw;
  }
  .blogItem{
    width: 90vw;
}
}

@media (max-width: 877px) {
  .title{
    display: none;
  }
  .wrapDiv{
    background: none;
    display: block;
  }
  .images{
    display: block;
    width: 100vw;
  }
  .Img1, .Img2{
    display: none;
  }
  .Img3{
    border-radius: 15px;
    width: 90vw;
    margin: 0 10vw;
  }
  .mainnav ul li{
  margin: 0 15px;
}
}